@keyframes Bounce{
    0%{
        }
    25%{
        transform: translateY(65px);
        }
    50%{
        }
    75%{
        transform: translateY(-65px);
        }
    100%{
        }
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

.container {
    background-color: #373144;
    border: 40px solid lightslategrey;
    display: grid;
    height: 90vh;
}
.animation-box {
    margin: auto;
    width: 50%;
}

.balls {
    list-style-type: none;
    padding: 2rem;
    text-align: center;
}

.balls li {
    background-color: lightslategrey;
    border: 1px solid #a6bba3;
    border-radius: 100%;
    display: inline-block;
    margin: 10px;
    height: 100px;
    width: 100px;
}

#ball-1 {
    animation: Bounce 2s infinite 0s linear;
}

#ball-2 {
    animation: Bounce 2s infinite .35s linear;
}

#ball-3 {
    animation: Bounce 2s infinite .75s linear;
}